{:linters {:unresolved-symbol {:exclude [(malli.core/=>)]},
           :type-mismatch {:namespaces {hippo.ports.http-out {touch {:arities {2 {:args [:any :string], :ret :any}}}},
                                        hippo.adapters {query-task->wire-out {:arities {2 {:args [:any :number],
                                                                                           :ret {:op :keys,
                                                                                                 :req {:id :any,
                                                                                                       :time_left :number}}}}},
                                                        task->wire-out {:arities {1 {:args [{:op :keys,
                                                                                             :req {:task/id :any,
                                                                                                   :task/url :string,
                                                                                                   :task/time :number}}],
                                                                                     :ret {:op :keys, :req {:id :any}}}}},
                                                        task->db {:arities {3 {:args [:any :number :string],
                                                                               :ret {:op :keys,
                                                                                     :req {:task/id :any,
                                                                                           :task/url :string,
                                                                                           :task/time :number}}}}}},
                                        infra.component.http {request-fn {:arities {:varargs {:args [{:op :keys,
                                                                                                      :req {:url :string,
                                                                                                            :method :keyword}}
                                                                                                     {:op :rest,
                                                                                                      :spec :any}
                                                                                                     {:op :rest,
                                                                                                      :spec :any}],
                                                                                              :ret :any,
                                                                                              :min-arity 1}}}},
                                        hippo.db.tasks {get-pending-tasks {:arities {2 {:args [:any :number],
                                                                                        :ret :vector}}},
                                                        get-task {:arities {2 {:args [:any :any],
                                                                               :ret {:op :keys,
                                                                                     :req {:task/id :any,
                                                                                           :task/url :string,
                                                                                           :task/time :number}}}}},
                                                        insert-task {:arities {2 {:args [:any
                                                                                         {:op :keys,
                                                                                          :req {:task/id :any,
                                                                                                :task/url :string,
                                                                                                :task/time :number}}],
                                                                                  :ret :any}}}},
                                        hippo.util.time {now-ms {:arities {0 {:args [], :ret :number}}},
                                                         instant-now {:arities {0 {:args [], :ret :any}}}},
                                        hippo.logics {uuid-from-string {:arities {1 {:args [:string], :ret :any}}},
                                                      get-time-left {:arities {2 {:args [{:op :keys,
                                                                                          :req {:task/id :any,
                                                                                                :task/url :string,
                                                                                                :task/time :number}}
                                                                                         :number],
                                                                                  :ret :number}}},
                                                      uuid-from-time-url {:arities {2 {:args [:number :string],
                                                                                       :ret :any}}},
                                                      add-time {:arities {2 {:args [:number
                                                                                    {:op :keys,
                                                                                     :req {:hours :any,
                                                                                           :minutes :any,
                                                                                           :seconds :any,
                                                                                           :url :string}}],
                                                                             :ret :number}}}},
                                        hippo.controllers {create-task! {:arities {2 {:args [{:op :keys,
                                                                                              :req {:hours :any,
                                                                                                    :minutes :any,
                                                                                                    :seconds :any,
                                                                                                    :url :string}}
                                                                                             {:op :keys,
                                                                                              :req {:config :any,
                                                                                                    :router :any,
                                                                                                    :http :any,
                                                                                                    :database :any,
                                                                                                    :scheduler :any}}],
                                                                                      :ret {:op :keys,
                                                                                            :req {:task/id :any,
                                                                                                  :task/url :string,
                                                                                                  :task/time :number}}}}},
                                                           schedule-pending-tasks! {:arities {1 {:args [{:op :keys,
                                                                                                         :req {:config :any,
                                                                                                               :router :any,
                                                                                                               :http :any,
                                                                                                               :database :any,
                                                                                                               :scheduler :any}}],
                                                                                                 :ret :nil}}},
                                                           get-task-time-left {:arities {2 {:args [:any
                                                                                                   {:op :keys,
                                                                                                    :req {:config :any,
                                                                                                          :router :any,
                                                                                                          :http :any,
                                                                                                          :database :any,
                                                                                                          :scheduler :any}}],
                                                                                            :ret :nilable/number}}}}}}}}
