{:config-paths ["nubank/state-flow"
                "marick/midje"
                "metosin/malli-types"]
 :hooks {:analyze-call {state-flow.api/defflow nubank.state-flow/defflow}}
 :linters {:unsorted-required-namespaces {:level :warning}}
 :lint-as {clojure.test.check.properties/for-all clojure.core/let
           clojure.test.check.clojure-test/defspec clojure.test/deftest}}

